<a href="https://colab.research.google.com/github/dongju12/python/blob/main/4_1_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(a, b):
    return a + b

In [ ]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [ ]:
print(add(3, 4))

7

In [ ]:
def add(a, b):
    result = a + b
    return result

In [ ]:
a = add(3, 4)
print(a)

7

In [ ]:
def say():
  return 'Hi'

In [ ]:
a = say()
print(a)

Hi

In [ ]:
def add(a, b):
  print("%d, %d의 합은 %d입니다" % (a, b, a+b))

In [ ]:
add(3,4)

3, 4의 합은 7입니다

In [ ]:
def say():
  print('Hi')

In [ ]:
say()

Hi

In [ ]:
def add(a, b):
  return a+b

In [ ]:
result = add(a=3, b=7)
print(result)

10

In [ ]:
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [ ]:
result = add_many(1,2,3)
print(result)

6

In [ ]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [ ]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
      result = 1
      for i in args:
        result = result * i
  return result

In [ ]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [ ]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [ ]:
def add_and_mul(a,b):
  return a+b, a*b

In [ ]:
result = add_and_mul(3,4)

In [ ]:
result(7, 12)
print(result)

TypeError: ignored

In [ ]:
def add_and_mul(a, b):
  return a+b
  return a*b

In [ ]:
result = add_and_mul(2, 3)
print(result)

5

In [ ]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [ ]:
say_myself("박응용", 27)
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [ ]:
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)

1

In [ ]:
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
a = 1
def vartest():
  global a
  a = a+1

vartest()
print(a)

2

In [ ]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [ ]:
def add(a, b):
  return a+b

result = add(3, 4)
print(result)

7